.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
body .logo {
    width: 200px;
    height: auto;
}
body .header-logo {
    width: 90px;
    height: auto;
}